/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- rgb(13, 110, 0)
- rgb(109, 0, 251)
- rgb(219, 255, 57)
- rgb(116, 201, 241)
- rgb(251, 64, 64)

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/
/* notes */
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
header {
  box-shadow: 0px 1px rgb(26, 16, 16);
  margin: 0 25%;
  position: absolute;
  top: 5%;
}
.headBox {
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  color: rgb(141, 80, 202);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.585);
  padding: 13px 4px;
  /* background-color: rgba(238, 24, 24, 0.585); */
  text-align: center;
  width: 900px;
  background-image: linear-gradient(rgb(152, 180, 208), rgb(185, 73, 73));
  border-radius: 5px;
}

.main-container {
  display: flex;
  position: relative;
  margin: 0 25%;
}
.main-container #row1 {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  padding: 0.5rem;
}
.main-container #row2 {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

#row1 {
  margin-top: 110px;
}
#row2 {
  margin-top: 650px;
  margin-left: 100px;
}
#row1-section2 {
  display: flex;
  width: 600px;
  margin: 10px;
  border: 3px solid rgb(251, 64, 64);
  background-color: rgb(116, 201, 241);
  height: 100px;
  padding: 3px 16px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: auto;
}
#jordans-1-desc {
  color: #fff;
  font-size: 1em;
}

#row2-section2 {
  display: flex;
  width: 600px;
  margin: 10px;
  border: 3px solid rgb(13, 110, 0);
  background-color: #fff;
  height: 100px;
  padding: 3px 16px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(238, 24, 24, 0.585);
}
#jordans-2-desc {
  color: #fff;
  font-size: 1em;
}
